img {
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Crimson Text', serif;
}

p {
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: rgb(246, 241, 233);
    margin: 0;
}

/*---------Læs mere knap--------*/
.btn {
    background: rgba(#FFFFFF);
    border-radius: 4px;
    border: solid black;
    padding: 12px 35px;
    opacity: 0.8;
    color: black;
    font: 20px 'Roboto', sans-serif;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 1px;


}
/*--------LINKS NAV--------*/
.links {
    width: 100%;
    height: 650px;
/*    background: #141126;*/
    background: url(DSC_0024.jpg);
    background-size: cover;
     margin: 0 auto;
}
.centrallinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links a {
   display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0.4em 0.8em;
    border: 0.1em;
    border-radius: 0.4em;
    color: white;
}
.links a:hover {
    background-color: black;
    color: white;
}


.links .navimg {
    max-width: 800px;
    max-height: 412px;
    padding: 100px 50px 100px 350px;
}

/*---------KONTAKT LINKS------*/
#page3 .links {
    width: 100%;
    height: 250px;
    background-size: cover;
    margin: 0 auto;
}
#page3 .centrallinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#page3 .links a {
   display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    padding: 0.4em 0.8em;
    border: 0.1em;
    border-radius: 0.4em;
    color: white;
}
#page3 .links a:hover {
    background-color: black;
    color: white;
}

/*------- DESKTOP -------*/
.sectionwrapper{
    display: flex;
    flex-wrap: wrap;
}

#billeder .sectionwrapper{
    flex-direction: row;
}

#billeder .column{
    flex-basis: 200px;
    flex-grow: 1;
    max-width: 700px;
    padding-top: 5em;
}

#baren .sectionwrapper {
    flex-direction: row;
}
